body {
    background-color: #f8f9fa;
}

.container {
    max-width: 900px;
}

.list-group-item {
    border-radius: 0.5rem;
    margin-bottom: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.05);
}

.list-group-item:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.list-group-item:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
